@{
    ViewBag.Title = "UW Agile Certification Program";
    ViewBag.Message = "Applied Agile Development and Execution - Winter 2014"; 
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title:</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Instructor: <a href="http://www.pce.uw.edu/biography/james-newkirk.html" title="James Newkirk">James Newkirk</a></p>
                <a href="http://www.pce.uw.edu/certificates/agile-development.html" title="About Program">About Program</a>
        </div>
    </section>
}
<h3>Class Materials</h3>
<table>
    <thead>
        <tr>
            <th>Date</th>
            <th>Topics</th>
            <th>Material</th>
            <th>References</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>January 6, 2014</td>
            <td>Values: Exploring Why</td>
            <td><a href="~/content/presentations/01-06-2014.pdf" target="_blank" title="presentation">Presentation</a></td>
            <td>Extreme Programming Explained (2nd Edition), Kent Beck</td>
        </tr>
       <tr>
            <td>January 13, 2014</td>
            <td>Agile Delivery Framework</td>
            <td><a href="~/content/presentations/01-13-2014.pdf" target="_blank" title="presentation">Presentation</a></td>
            <td>
                <div>
                Agile Project Management: Creating Innovative Products (2nd Edition), Jim Highsmith</div>
                <a href="http://www.codinghorror.com/blog/2007/09/can-your-team-pass-the-elevator-test.html">Can your team pass the elevator test?</a>
                <a href="http://www.codinghorror.com/blog/2005/08/vision-quest.html">Vision Quest</a>

            </td>
        </tr>
       <tr>
            <td>January 25, 2014</td>
            <td>Collaboration</td>
            <td><a href="~/content/presentations/01-25-2014.pdf" target="_blank" title="presentation">Presentation</a></td>
            <td>
                <div>
                    <a href="http://marshmallowchallenge.com/Welcome.html">Marshmellow Challenge</a>
                </div>
            </td>
        </tr>
       <tr>
            <td>January 27, 2014</td>
            <td>Speculate</td>
            <td><a href="~/content/presentations/01-27-2014.pdf" target="_blank" title="presentation">Presentation</a></td>
            <td>
                <div>
                    Agile Project Management: Creating Innovative Products (2nd Edition), Jim Highsmith</div>
            </td>
        </tr>
       <tr>
            <td>February 3, 2014</td>
            <td>Building the Product Backlog</td>
            <td><a href="~/content/presentations/02-03-2014.pdf" target="_blank" title="presentation">Presentation</a></td>
            <td>
                <div>
                    Agile Project Management: Creating Innovative Products (2nd Edition), Jim Highsmith</div>
            </td>
        </tr>
@*         <tr>
            <td>January 28, 2013</td>
            <td>Agile Development</td>
            <td><a href="~/content/presentations/01-28-13.pdf" target="_blank" title="presentation">Presentation</a></td>
            <td>
                Guest Lecture: Peter Provost - Principle Program Manager, Visual Studio
            </td>
        </tr>
        <tr>
            <td>February 2, 2013</td>
            <td>Agile Delivery Framework - Speculate</td>
            <td><a href="~/content/presentations/02-02-13.pdf" target="_blank" title="presentation">Presentation</a></td>
            <td>
                <div>
                Agile Project Management: Creating Innovative Products (2nd Edition), Jim Highsmith</div>
                <div><a href="http://www.mountaingoatsoftware.com/books/agile-estimating-and-planning">Agile Estimating and Planning, Mike Cohn</a></div>
            </td>
        </tr>
        <tr>
            <td>February 4, 2013</td>
            <td>Agile Delivery Framework - Speculate Continued</td>
            <td><a href="~/content/presentations/02-04-13.pdf" target="_blank" title="presentation">Presentation</a></td>
            <td>
                <div>
                Agile Project Management: Creating Innovative Products (2nd Edition), Jim Highsmith</div>
                <div><a href="http://www.mountaingoatsoftware.com/books/agile-estimating-and-planning">Agile Estimating and Planning, Mike Cohn</a></div>
            </td>
        </tr>
        <tr>
            <td>February 11, 2013</td>
            <td>Agile Delivery Framework - Explore</td>
            <td><a href="~/content/presentations/02-11-13.pdf" target="_blank" title="presentation">Presentation</a></td>
            <td>
                <div>
                    Agile Project Management: Creating Innovative Products (2nd Edition), Jim Highsmith</div>
            </td>
        </tr>
        <tr>
            <td>February 25, 2013</td>
            <td>Programming Testing</td>
            <td>
                <div>
                    <a href="~/content/presentations/02-25-13.pdf" target="_blank" title="presentation">Presentation</a></div>
                <div><a href="~/content/presentations/list.zip" target="_blank" title="presentation">List Example</a></div>
                <a href="~/content/presentations/parse.zip" target="_blank" title="presentation">Int32.Parse</a>
            </td>
            <td>
                <div>
                    Implementation Patterns, Kent Beck</div>
            </td>
        </tr>
        <tr>
            <td>March 4, 2013</td>
            <td>Test-Driven Development</td>
            <td>
                <div>
                    <a href="~/content/presentations/03-04-13.pdf" target="_blank" title="presentation">Presentation</a></div>
                <div><a href="~/content/presentations/tdd.zip" target="_blank" title="presentation">Stack Code</a></div>
                <div><a href="~/content/presentations/ch2.pdf" target="_blank" title="presentation">TDD, By Example</a></div>
            </td>
            <td>
                <div>
                    Implementation Patterns, Kent Beck</div>
                <div>
                    Test-Driven Development in .NET, James Newkirk and Alexei Vorontsov</div>

            </td>
        </tr>
        <tr>
            <td>March 9, 2013</td>
            <td>SOLID Principes, Refactoring</td>
            <td>
                <div>
                    <a href="~/content/presentations/03-09-13.pdf" target="_blank" title="presentation">Presentation</a></div>
                <div><a href="~/content/presentations/Solid.zip" target="_blank" title="presentation">SOLID Code</a></div>
                <div><a href="~/content/presentations/refactoring.zip" target="_blank" title="presentation">Sieve Code</a></div>
            </td>
            <td>
                <div>
                    Agile Software Development, Principles, Patterns, Practices by Robert Martin</div>
                <div>
                    Refactoring: Improving the Design of Existing Code, Martin Fowler</div>
            </td>
        </tr>
        <tr>
            <td>March 11, 2013</td>
            <td>Advanced Testing Topics</td>
            <td>
                <div>
                    <a href="~/content/presentations/03-11-13.pdf" target="_blank" title="presentation">Presentation</a></div>
                <div><a href="~/content/presentations/Examples.zip" target="_blank" title="presentation">Example Code</a></div>
            </td>
            <td>
                <div>
                Agile Software Development, Principles, Patterns, Practices by Robert Martin</div>
                <div>
                Refactoring: Improving the Design of Existing Code, Martin Fowler</div>
            </td>
        </tr>*@
    </tbody>
</table>
